#header{
    position: fixed;
    background-color: #45484B;
    min-width: 100%;
    max-height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}
body{
    font-size: 16px;
}
.fz-2{
    font-size: 25px;
}
.fz{
    font-size: 25px;
    font-size: 3.0em;
}
 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
 }
li{
    padding-left: 20px;
   padding-top: 20px;
}
.main-part{
    background-image: url("https://images.unsplash.com/7/Top_view.jpg?fit=crop&fm=jpg&h=700&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1375");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #45484B;
    height: 100vh;
    width: 100%;
    z-index: 1;
    color: white;
}
.text{
    padding-top: 150px;
    color: #ffffff;
}
.intro-btns{
    margin-top: 40px;
}
.b{
    background-color: green;
    padding: 10px;
}
.b-2{
    background-color: cyan;
    padding: 10px;
}
.b-3{
    padding: 10px;
}
.container{
    max-width: 1080px;
}
.img-of-ab{
    border-radius: 100%;
    border: 3px solid grey;
    margin-bottom: 40px;
    width: 250px;
}
.container-2{
    width: 100%;
    border: black 1px solid;
    padding: 20px;
}